*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    padding: 5px;
    /* display: flex;
    flex-direction: column; */
    overflow-x: hidden;
}

.section-1{
    max-width: 100%;
    height: calc(100% - 5px);
    /* height: 100%; */
    background-image: url(https://images.unsplash.com/photo-1518173946687-a4c8892bbd9f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
nav{
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}
nav .navbar{
    display: flex;
    gap: 20px;  
    font-size: 20px;
}
nav .navbar a{
    color: white;
    padding: 10px 20px;
}
.navbar a:last-child{
    border: 1px solid white;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.content h1{
    font-size: 100px;
    margin-bottom: 10px;
    font-weight: 500;
}
.content p{
    font-size: 35px;
    font-weight: 300;
}
.content button{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    border: none;
    background-color: transparent;
    border-top: 3px solid white;
}

.section-2{
    width: 99%;
    height: 99%;
    background-color: #F5F7F6;
    /* background-color: red; */
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 150px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2 h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;

    position: relative;
}
.section-2 h1::after{
    content: '';
    position: absolute;
    width: 25%;
    height: 4px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.card-box{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card{
    width: 400px;
    height: 600px;
    margin-top: 50px;
    /* padding: 20px 0; */
    background-color: white;
    /* border-radius: ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}
.card img{
    width: 100%;
    height: 300px;
    
}
.card p{
    width: 100%;
    height: calc(100% - 300px);
    /* background-color: yellow; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.card span{
    position: relative;
    padding: 10px 0;
}
.card span::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: black;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-3{
    width: 99%;
    height: 99%;
    /* background-color: #F5F7F6; */
    /* background-color: red; */
    margin-top: 20px;
    margin-left: 10px;
    /* padding-top: 150px; */
    
    display: flex;
    
    align-items: center;
    gap: 50px;
}
.section-3 .section-3-img{
    width: 50%;
    height: 100%;
    /* background-color: red; */
}
.section-3-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-3 .section-3-text{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 20px;
}
.section-3-text h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}
.section-3-text h1::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.section-3-text p{
    margin-top: 100px;
    padding: 10px 55px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-4{
    width: 100%;
    height: 60%;
    margin-top: 50px;
    background-color: #F5F7F6;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.section-4 h1{
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}
.section-4 p{
    font-size: 20px;
    font-weight: 300;
}
.section-4 input{
    width: 300px;
    height: 40px;
    border: none;
}
.section-4 input::placeholder{
    padding-left: 50px;
    font-size: large;
}
.section-4 button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 300;
    color: black;
    border: 1px solid black;
    background-color: transparent;
    text-transform: uppercase;
}

.section-5{
    width: 100%;
    height: 40%;
    /* background-color: #F5F7F6; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
}
.section-5 div i{
    font-size: 30px;
    margin: 5px;
    font-weight: 500;
    /* display: flex; */
    /* gap: 10px; */
}
.section-5 div a{
    font-size: 15px;
    color: black;
    margin: 5px;
    font-weight: 600;
    text-transform: uppercase;
}
